

@media screen and (max-width: 1175px) {
    .wrap {
        margin: 0;
        width: 100%;
        height: inherit;
        min-height: inherit;
        max-height: inherit;
    }
    .column-layout {
        min-width: 320px;
        width: 100vw !important;
        padding-top: 100px !important;
    }
    .column-center {
        padding-left: 40px !important; 
    }

    .column-side {
        min-height: 100vh;
    }
      
    /* .column-side {
         width: 100vw; 
        order: 1;
    }
    .column-center {
        order: 3;
    }  */
}